/* Fonts */

@font-face {
  font-family: "Fashion Fetish";
  src: local("Fashion Fetish"), url(./fonts/FashionFetishRegular.ttf);
}

@font-face {
  font-family: "Fashion Fetish Bold";
  src: local("Fashion Fetish Bold"), url(./fonts/FashionFetishBold.ttf);
}

@font-face {
  font-family: "Fashion Fetish Light";
  src: local("Fashion Fetish Light"), url(./fonts/FashionFetishLight.ttf);
}

@font-face {
  font-family: "Fashion Fetish Italic";
  src: local("Fashion Fetish Italic"), url(./fonts/FashionFetishItalic.ttf);
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url(./fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "Avenir Next Bold";
  src: local("Avenir Next Bold"), url(./fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: "Avenir Next Italic";
  src: local("Avenir Next Italic"), url(./fonts/AvenirNextLTPro-It.otf);
}

/* STYLES */

body {
  margin: 0;
}

/* Home Styles */
body {
  background: rgb(3, 179, 208);
  background: linear-gradient(
    90deg,
    rgba(3, 179, 208, 1) 0%,
    rgba(163, 141, 194, 1) 13%,
    rgba(149, 27, 129, 1) 52%,
    rgba(51, 61, 145, 1) 82%,
    rgba(27, 63, 146, 1) 100%
  );
}

.Home .send-message input {
  border: 2px solid #fff !important;
  border-radius: 10px !important;
  background-color: transparent;
  color: #fff !important;
  width: 100%;
  max-width: 400px;
  font-size: 30px;
  box-sizing: border-box;
  padding: 2px 10px 2px 10px;
  margin: 30px;
  font-family: "Avenir Next";
}

.Home .send-message input:focus {
  outline: none;
}

.Home .send-message h1 {
  color: #fff;
  font-family: "Fashion Fetish";
}

.Home .send-message {
  height: 85vh;
  text-align: center;
}

.Home .send-message div {
  text-align: center;
  position: fixed;
  top: 35%;
  left: 25%;
  right: 25%;
}

/* Navbar Styles */

.Navbar p {
  color: #fff;
}

.Navbar .container {
  padding: 10px;
}

.Navbar #arx-icon {
  fill: #fff;
  width: 50px;
}

.Navbar span {
  color: #fff;
  padding: 8px;
}

.Navbar span:hover {
  color: #ccc;
}

.Navbar .logo {
  text-align: left;
}

.Navbar .profile {
  text-align: end;
  padding-top: 10px;
  font-size: 24px;
}

.Navbar .profile #logout {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
}

.Navbar .profile #logout:hover {
  text-decoration: underline;
}

/* Chat Styles */

.Chat {
  margin: auto;
  padding-top: 45px;
}

.Chat .chat-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  max-width: 400px;
  margin: 0;
  -webkit-box-shadow: 42px 46px 20px -42px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 42px 46px 20px -42px rgba(0, 0, 0, 0.71);
  box-shadow: 42px 46px 20px -42px rgba(0, 0, 0, 0.71);
}

.Chat .chat-content .chat-space {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}

.Chat .chat-content .send input {
  border: 2px solid rgba(149, 27, 129, 1);
  border-radius: 10px;
  background-color: transparent;
  color: rgba(149, 27, 129, 1);
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  padding: 2px 10px 2px 10px;
}

.Chat .chat-content .send input:focus {
  box-shadow: 0 0 2pt 2pt rgba(149, 27, 129, 1);
}

.Chat .chat-content .send {
  padding-left: 15px;
  padding-right: 15px;
}

.Chat .chat-content .chat .chat-header .time {
  text-align: end;
  font-size: 20px;
  padding: 0;
}

.Chat .chat-content .chat .chat-header h2,
p,
#clock {
  color: #707070;
}

.Chat .chat-content .chat .chat-header .time > div {
  padding: 0;
}

.Chat hr {
  margin: 0;
}

.Chat .chat-content .chat .send > div {
  text-align: end;
}

.Chat .chat-content .chat .send .message {
  padding-right: 10px;
  padding-left: 0px;
}

.Chat .chat-content .chat .send input {
  font-family: "Avenir Next";
}

.Chat .chat-content .chat .send input:focus {
  outline: 0;
}

.Chat .chat-content .chat .send .send-icon {
  padding-left: 0;
  padding-right: 0px;
}

.Chat .chat-content .chat .send .send-icon .paper {
  font-size: 15px;
  background-color: rgba(149, 27, 129, 1);
  color: #fff;
  border-radius: 50%;
  padding: 6px 10px 6px 10px;
  border: none;
}

.Chat .actions {
  background-color: #fff;
  border-radius: 0 20px 20px 0;
  position: absolute;
  top: 15%;
  left: 0;
  -webkit-box-shadow: inset 13px 0px 27px -12px rgba(0, 0, 0, 0.6);
  box-shadow: inset 13px 0px 27px -12px rgba(0, 0, 0, 0.6);
}

.Chat ul li {
  text-align: center;
  list-style: none;
  padding-top: 16px;
  font-size: 28px;
}

.Chat ul li #heart {
  color: #ea3969;
}

.Chat ul li #heart:hover {
  color: #d12957;
}

.Chat ul li #star {
  color: #f0e832;
}

.Chat ul li #star:hover {
  color: #dcd52a;
}
.Chat ul li #smile {
  color: #982f8c;
}

.Chat ul li #film {
  color: #454545;
}

.Chat ul li #magic {
  color: #6bacd0;
}

.Chat ul li #cancel {
  color: #632c89;
}

.Chat ul li #cancel:hover {
  color: #4f1f6f;
}

.Chat ul {
  padding: 0px 14px 0px 14px;
}

.Chat .chat-content .chat-header h2 {
  font-family: "Fashion Fetish";
}

/* Register Styles */

.Register .register-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  -webkit-box-shadow: 42px 46px 20px -42px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 42px 46px 20px -42px rgba(0, 0, 0, 0.71);
  box-shadow: 42px 46px 20px -42px rgba(0, 0, 0, 0.71);
}

.Register .register-content h2,
h3 {
  font-family: "Fashion Fetish";
}

.Register .register-content form label {
  font-family: "Avenir Next Bold";
}

.Register .register-content form .category {
  text-align: center;
  margin: 0;
}

.Register .register-content form .category .col-4:hover {
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.Register .register-content form input,
button,
p {
  font-family: "Avenir Next";
}

.Register .register-content p {
  padding-top: 5px;
}

.Register .register-content form label {
  width: 100%;
}

.Register .register-content form #instagram {
  border-radius: 15px;
  color: #982f8c;
  background-color: transparent;
  border: 1px solid #982f8c;
  padding: 6px 15px 6px 15px;
}

.Register .register-content form button {
  border-radius: 20px;
  color: #fff;
  background-color: #982f8c;
  border: none;
  padding: 6px 15px 6px 15px;
}

.Register .register-content form .gender div label {
  font-family: "Avenir Next";
}

.Register .register-content form .row {
  justify-content: end;
}

.Register .register-content form #insta {
  margin-right: 10px;
}

/* Matches Styles */

.Matches {
  background-color: #ccc;
}

.Matches .matchList {
  padding-right: 0;
}

.Matches .currentChat {
  padding-left: 0;
}

/* MatchList Styles */

.MatchList {
  background-color: #fff;
  height: 100%;
  padding: 0px 15px 15px 15px;
  border-right: 1px solid #ccc;
}

.MatchList .match-header {
  background-color: #ededec;
}

.MatchList .match-header .header {
  width: 100%;
  padding: 15px 15px 5px 15px;
}

.MatchList .match-header .search-header {
  background-color: #f7f7f7;
}

.MatchList .match-header .header #prof-but {
  color: #454545;
}

.MatchList .match-header .header #prof-but:hover {
  color: #000;
}

.MatchList .match-header .header #prof-but:focus {
  outline: 0;
}

.MatchList h2 {
  font-family: "Fashion Fetish";
}

.MatchList p {
  font-family: "Avenir Next";
}

.MatchList form input {
  font-family: "Avenir Next";
  width: 100%;
  border-radius: 18px;
  border: none;
  background-color: #fff;
  color: #000;
}

.MatchList form,
label {
  width: 100%;
}

.MatchList form {
  padding: 15px;
}

.MatchList form .form-group {
  margin-bottom: 0;
}

.MatchList hr {
  margin: 5px;
}

.MatchList .match-item {
  padding: 8px;
  padding-top: 8px;
}

.MatchList .match-item .name p {
  font-family: "Avenir Next";
  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin-bottom: 0;
}

.MatchList .match-item .message p {
  font-family: "Avenir Next";
  color: #707070;
  font-size: 14px;
  margin-bottom: 5px;
}

.MatchList .match-item hr {
  width: 100%;
  margin: 0;
}

.MatchList .match-item:hover {
  background-color: #ccc;
}

/* Profile styles */

.Profile {
  height: 80%;
}

.Profile .profile-content {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  max-width: 400px;
  margin: auto;
  -webkit-box-shadow: 42px 46px 20px -42px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 42px 46px 20px -42px rgba(0, 0, 0, 0.71);
  box-shadow: 42px 46px 20px -42px rgba(0, 0, 0, 0.71);
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Profile .profile-content h3 {
  padding: 8px;
}

.Profile .profile-content hr {
  margin: 0;
}

.Profile .profile-content .tastes {
  padding-top: 5px;
}

.Profile .profile-content .edit-profile {
  padding-top: 5px;
}

.Profile .profile-content .edit-profile .edit-button {
  background-color: #632c89;
  color: #fff;
  border-radius: 100%;
  padding: 8px 10px 8px 10px;
}

.Profile .profile-content button {
  background-color: transparent;
  border: none;
}

.Profile .profile-content small {
  font-family: "Avenir Next Bold";
}
/* Footer Styles */

.Footer p {
  color: #fff;
  font-family: "Fashion Fetish Light";
  font-size: 14px;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.Footer .container {
  width: auto;
}

.Footer span {
  color: #fff;
  padding: 5px;
}

.Footer span a {
  cursor: pointer;
}

.Footer .social {
  text-align: end;
  font-size: 20px;
}

/* MatchChat styling */

.MatchChat {
  background-color: #fff;
  height: 100%;
}

.MatchChat hr {
  margin: 0;
}

.MatchChat .chat-content .chat .send > div {
  text-align: end;
}

.MatchChat .chat-content .chat .send .message {
  padding-right: 10px;
  padding-left: 0px;
}

.MatchChat .chat-content .chat-header {
  margin: 0;
}

.MatchChat .chat-content .chat-header .current-header {
  background-color: #f1f1f1;
  padding: 10px;
  padding-left: 15px;
}

.MatchChat .chat-content .chat-header .more-ops {
  text-align: end;
}

.MatchChat .chat-content .chat-header .current-header #more {
  border: none;
  background-color: transparent;
  padding-top: 8px;
  font-size: 18px;
  color: #454545;
}

.MatchChat .chat-content .chat-header .current-header h3 {
  padding-top: 5px;
}

.MatchChat .chat-content .chat .send input {
  font-family: "Avenir Next";
  border-radius: 30px;
  width: 100%;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.MatchChat .chat-content .chat .send input:focus {
  outline: 0;
}

.MatchChat .chat-content .chat .send {
  margin: 0;
  padding: 8px 15px 8px 15px;
  background-color: #ededec;
  border-top: 1px solid #ccc;
}

.MatchChat .chat-content .chat {
  height: 100%;
}

.MatchChat .chat-content .chat form .send {
  width: 100%;
}

.MatchChat .chat-content .chat form .send .message {
  padding: 0;
}

.MatchChat .chat-content .chat .send .send-icon {
  padding-left: 0;
  padding-right: 0px;
  padding-top: 4px;
}

.MatchChat .chat-content .chat .send .send-icon .paper {
  font-size: 18px;
  background-color: rgba(149, 27, 129, 1);
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  border: none;
}

.MatchChat .chat-content .chat .send .send-icon .paper:focus {
  outline: 0;
}

.MatchChat .matchChat {
  height: 100%;
}

.MatchChat .chat-content .chat-space {
  height: 560px;
  max-height: 560px;
  overflow-y: scroll;
  padding: 15px;
}

/* Modal styles */

.modal .modal-content .modal-header .modal-title {
  font-family: "Avenir Next";
  border: none;
  text-align: center;
}

.modal .modal-content {
  text-align: center;
}

.modal .modal-content .modal-header {
  text-align: center;
}

.modal .modal-content .modal-body button {
  margin: 10px;
}

.modal .modal-content .modal-body .yeah {
  background-color: #632c89;
  color: #fff;
  border-radius: 16px;
  font-family: "Avenir Next";
  border: none;
}

.modal .modal-content .modal-body .nope {
  background-color: #454545;
  border-radius: 16px;
  color: #fff;
  font-family: "Avenir Next";
  border: none;
}
